# Results directories
tltt_08_20
tltt_12_19
gc_reentry_08_20
gc_reentry_12_18
figures
logs
Rplots.pdf
scripts/templates

# R files
.Rhistory
.RData
.Rproj.user

# macOS
.DS_Store

# Update conda environment
update_conda_env.sh